<div class="login-card mdl-card mdl-shadow--2dp">
  <form [formGroup]="loginForm" (ngSubmit)="submitForm(loginForm.value)" class="form-signin" novalidate>
    <div class="group">
      <div>
        <md-error *ngIf="error != ''">{{error}}</md-error>
      </div>
      <md-input-container class="input-full-width">
        <input type="email" [formControl]="loginForm.controls['username']" email autofocus mdInput placeholder="Email" />
      </md-input-container>
    </div>
    <div class="group">
      <md-input-container class="input-full-width">
        <input type="password" [formControl]="loginForm.controls['password']" mdInput placeholder="Contraseña" />
      </md-input-container>
    </div>
    <button type="submit" [disabled]="!loginForm.valid" md-raised-button>Conectar</button>
  </form>
</div>
