<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th *ngFor="let field of fields" class="mdl-data-table__cell--non-numeric">{{field.label}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let object of objects | async">
      <td *ngFor="let field of fields" class="mdl-data-table__cell--non-numeric" [ngSwitch]="field.type">
        <div *ngSwitchCase="'date'">{{object[field.key] * 1000 | date}}</div>
        <div *ngSwitchDefault>{{object[field.key]}}</div>
      </td>
    </tr>
  </tbody>
</table>
